@import "bootstrap/scss/functions";

$enable-gradients: true;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/grid";

@import "bootstrap/scss/helpers/colored-links";

@import "bootstrap/scss/alert";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/modal";

.normal-cursor {
  cursor: default;
}

.floating-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  gap: 10px;
}

@include media-breakpoint-down(md) {
  #extensionName {
    margin-top: 80px;
  }

  .btn-md-down-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }

  .btn-md-down-w-10 {
    width: 100%;
  }
}
